.taskItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .taskItemName {
    flex: 1;
    font-size: 16px;
    font-weight: bold;
  }
  
  .taskItemActions {
    display: flex;
    justify-content: flex-end;
  }
  
  .taskItemAction {
    padding: 5px;
    margin-left: 5px;
    background-color: #0077FF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .taskItemAction:hover {
    background-color: #0057D1;
  }
  

  .EditMode {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 2px;
  }
  
  .EditMode input[type="text"] {
    
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .EditMode button {
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .EditMode button:first-of-type {
    background-color: green;
    color: #fff;
  }
  
  .EditMode button:last-of-type {
    background-color: red;
    color: #fff;
  }
  